* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#campoBusca {
  font-family: FontAwesome;
  position: relative;
  font-size: 16px;

  width: 380px;
  display: block;
  margin: 0 auto;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#tabelaDados {
  border-collapse: collapse;
  width: 900px;
  margin: 0 auto;
  border: 1px solid #ddd;
  font-size: 16px;
}

#tabelaDados {
  word-break: normal;
}

#tabelaDados th, #tabelaDados td {
  border: 1px solid #ccc;
  overflow: hidden;
  width: 200px;
}

#tabelaDados th {
  text-align: center;
}

#tabelaDados td {
  text-align: left;
}

#tabelaDados tr {
  border-bottom: 1px solid #ddd;
}

#tabelaDados tr.header, #tabelaDados tr:hover {
  background-color: #f1f1f1;
}

#indexPagination {
  display: block;
  margin: 0 auto;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #2a4cf4;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

#next, #last {
  font-size: 15px;
}
